
.DashboardContainer {
  width: 80vw;
  /* Make the width responsive */
  height: 100vh;
  background-color: #EDEDED;
  display: flex;
  flex-direction: column;
  /* Stack items vertically on smaller screens */
  padding: 2% 4%;
}

.DashboardContainer>div:nth-child(1) {
  width: 100%;
  height: auto;
  margin-bottom: 2rem;
}

.DashboardContainer>div:nth-child(2) {
  width: 100%;
  height: auto;
  padding: 3% 0;
  overflow-y: auto;
}

.DashboardContainer>div:nth-child(2)>h1 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  margin-left: 2%;
}

.DashboardContainer>div:nth-child(2)>h3 {
  font-size: 1rem;
  margin-left: 2%;
  margin-bottom: 2rem;
  color: rgb(235, 90, 48);
}

.DashboardContainer>div:nth-child(2)>div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* Center items on smaller screens */
  gap: 1rem;
  /* Add space between items */
}

@media screen and (max-width: 768px) {
  .DashboardContainer>div:nth-child(2)>h1 {
    font-size: 1.5rem;
  }

  .DashboardContainer>div:nth-child(2)>h3 {
    font-size: 0.875rem;
  }
}